

@mixin avatar-sizes(){
    @each $name,$size in $array-avatar-sizes{
        .avatar-#{$name} img{
            max-width: $size;
            max-height: $size;
        }
    }
    .avatar-zoom{
        overflow: hidden;
        transition: $transition-time;
        &:hover img{
            transform: scale(1.2);
        }
    }
}

